* {
  font-family: 'Roboto';
}

.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.searchInput-container {
  min-width: 285px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-input {
  width: 100%;
  outline: none;
  border: none;
  height: 50px;
  padding: 15px;
  margin: auto;
  font-size: 15px;
}
.search-icon-btn {
  background-color: transparent;
  outline: none;
  border: none;
}
.search-icon {
  font-size: 20px;
  margin: 5px;
}

.category-rating-container {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  list-style-type: none;
  margin-bottom: 25px;
}
.category-rating-heading {
  color: #0f172a;
  font-weight: bold;
  font-size: 17px;
}
.category-text-btn {
  color: #64748b;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.rating-text-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-image {
  width: 130px;
}

.rating-text {
  color: #64748b;
  margin-bottom: 0px;
}
.clear-btn {
  width: 125px;
  height: 35px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #0967d2;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  color: #0967d2;
  cursor: pointer;
  margin: 10px;
}
